<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="app" >

    <div ng-controller="appController">

        <p>Input something in the input box:</p>a
     
        <br>
        <form class=""></form>
        <text ng-model="username"></text>

        <button type="submit" ng-click="appSubmit()" class="btn btn-primary btn-block">Sign In</button>

        </form>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  
   <script src="./app.js"></script>
   <script src="./textInput.js"></script>

</body>

</html>